{% extends 'base_template/base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('feedbacks') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('feedbacks') }}
{% endblock %}
{% block body %}

{% for flash_error in app.flashes('app_feedback') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
    <button onclick="window.location.href ='{{ path('app_statistics') }}';" class="btn btn-primary">Check Statistics</button>
<div class="feedbacks-container container mt-4">
    {% for feedback in feedbacks %}
        <div class="feedback">
            <div class="feedback-header">
                <div class="feedback-user">{{ feedback.user.username }}</div>
                <div class="feedback-date"> Visited the {{ feedback.user.infoday }}</div>
            </div>
            <div class="feedback-content">
            <div class="rating">
                {% set rating = feedback.rating %}
                {% for i in 1..5 %}
                    {% if i <= rating %}
                        <img src="{{ asset('build/images/Gold_Star.svg.png') }}" alt="Gold Star" width="20" height="20">
                    {% else %}
                        <img src="{{ asset('build/images/Empty_Star.png') }}" alt="Empty Star" width="20" height="20">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="interests">
                {% if feedback.interests is empty %}
                    <p>This person did not select any interests.</p>
                {% else %}
                {% for interest in feedback.interests %}
                {{ interest.name }}
                {% endfor %}
                {% endif %}
            </div>
            <div class="comment-author">
                <div class="comment"> "{{ feedback.comment }}"</div>
                <div class="author"> - {{ feedback.user.firstname}} {{ feedback.user.lastname }} </div>
            </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
